<div id="user_outer">
	<div id="welcome">
		<p class="status">Logged in as <%= user.email %> [<a href="<%= link_to '/user/logout' %>">Log out</a>]</p>
		<% if flash %>
			<p class="error"><%= flash %></p>
		<% end %>
		
		<% if user.admin_domains %>
		<h4>Manage Domain:</h4>
		<ul>
			<% user.admin_domains.each do |id, domain| %>
				<li><a href="<%= link_to "/user/domain/#{id}" %>"><%= domain.name %></a></li>
			<% end %>
		</ul>
		<% end %>
		
		<fieldset>
			<legend>Change Password</legend>
			<form method="post" action="password">
				<p class="ieonly">Password:</p>
				<input type="password" name="password" class="txt" placeholder="Password"/>
				<p class="ieonly">Confirm:</p>
				<input type="password" name="confirmation" class="txt" placeholder="Confirm"/>
				<br/>
				<input type="submit" class="btn ok" value="Save"/>
			</form>
		</fieldset>
	</div>
</div>
