<div id="user_outer">
	<div id="welcome">
		<p class="status">Logged in as <%= user.email %> [<a href="<%= link_to '/user/logout' %>">Log out</a>]</p>
		<% if flash %>
			<p class="error"><%= flash %></p>
		<% end %>
		
		<% if user.admin_domains.length > 0 or user.super_admin %>
			<div class="clear">
				<h4>Manage Domain: <select onchange="showSelectedDomain(this.options[this.selectedIndex].value);">
					<option value="0">-- Select --</option>
					<% user.admin_domains.each do |id, domain| %>
						<option value="<%= id %>"><%= domain.name %></option>
					<% end %>
				</select></h4>
			</div>
			<fieldset class="fl" id="add_email">
				<legend>Add Email</legend>
				<form method="post" action="<%= link_to "/user/email/new" %>">
					<p class="ieonly">Address:</p>
					<input class="txt" type="text" name="lh" placeholder="Address"/> @ <select name="domain">
					<% user.admin_domains.each do |id, d| %>
					<option value="<%= id %>"><%= d.name %></option>
					<% end %>
					</select>
					<br/>
					<p class="ieonly">Password:</p>
					<input class="txt" type="password" name="pass" placeholder="Password"/>
					<br/>
					<p class="ieonly">Password (confirm):</p>
					<input class="txt" type="password" name="conf" placeholder="Password (confirm)"/>
					<br/>
					<p>Make administrator of:</p>
					<ul class="scrollable">
					<% user.admin_domains.each do |id, d| %>
					<li>
						<input type="checkbox" value="1"
							id="admin_<%= id %>" name="admin_<%= id %>"/>
						<label for="admin_<%= id %>"><%= d.name %></label>
					</li>
					<% end %>
					</ul>
					<% if user.super_admin %>
						<br/>
						<input type="checkbox" name="super_admin" id="super_admin" value="1"/>
						<label for="super_admin">Make super-admin</label>
					<% end %>
					
					<br/>
					<input type="submit" class="btn ok" value="Save"/>
				</form>
			</fieldset>
		<% end %>
		
<% 
if user.autoresponder
	ar = user.autoresponder
%>
		
			<fieldset class="fl" id="autoresponder">
				<legend>Auto-Respond</legend>
				<form method="post" action="<%= link_to "/user/auto" %>">
					<p class="ieonly">Name (eg, John Doe)</p>
					<input class="txt" type="text" name="descname" placeholder="Name (eg, John Doe)" value="<%= ar.descname %>"/>
					<br/>
					<span style="padding-right: 10px;">From:</span>
					<select name="from_m" id="from_m">
<%

if ar.from
	from_y = ar.from.year
	from_m = ar.from.month
	from_d = ar.from.day
end

if ar.to
	to_y = ar.to.year
	to_m = ar.to.month
	to_d = ar.to.day
end

m = [ 'January', 'February', 'March', 'April', 'May', 'June', 
	'July', 'August', 'September', 'October', 'November', 'December' ]
d = (1..31)
y = Time.now.year
y = (y..y+5)

m.each_with_index do |n, i|
	x = i + 1
%>
	<option value="<%= x %>"<% if from_m == x %> selected="selected"<% end %>><%= n %></option>
<%
end
%>
					</select>
					<select name="from_d" id="from_d">
<%
d.each do |i|
%>
	<option value="<%= i %>"<% if from_d == i %> selected="selected"<% end %>><%= i %></option>
<%
end
%>
					</select>
					<select name="from_y" id="from_y">
<%
y.each do |i|
%>
	<option value="<%= i %>"<% if from_y == i %> selected="selected"<% end %>><%= i %></option>
<%
end
%>
					</select>
					<br/>
					<span style="padding-right: 27px;">To:</span>
					<select name="to_m" id="to_m">
<%
	m.each_with_index do |n, i|
		x = i + 1
%>
		<option value="<%= x %>"<% if to_m == x %> selected="selected"<% end %>><%= n %></option>
<%
	end
%>
					</select>
					<select name="to_d" id="to_d">
<%
d.each do |i|
%>
	<option value="<%= i %>"<% if to_d == i %> selected="selected"<% end %>><%= i %></option>
<%
end
%>
					</select>
<select name="to_y" id="to_y">
<%
y.each do |i|
%>
	<option value="<%= i %>"<% if to_y == i %> selected="selected"<% end %>><%= i %></option>
<%
end
%>
					</select>
					<p class="ieonly">Subject</p>
					<input class="txt wide" type="text" name="subject" placeholder="Subject" value="<%= ar.subject %>"/>
					<p class="ieonly">Message</p>
					<textarea class="txt wide" name="message" rows="15" placeholder="Message"><%= ar.message %></textarea>
					<input type="checkbox" name="ar_enabled" id="ar_enabled" value="1"<% if ar.enabled %> checked="checked"<% end %>/><label for="ar_enabled">Enabled</label>
					<input type="submit" class="btn ok" value="Save"/>
				</form>
			</fieldset>
			
		<% end %>
		
		<% if user.admin_domains.length > 0 or user.super_admin %>
			<fieldset class="fl" id="add_alias">
				<legend>Add Alias</legend>
				<form method="post" action="<%= link_to "/user/alias/new" %>">
					<p class="ieonly">Address:</p>
					<input class="txt" type="text" name="slh" placeholder="Address"/> @ <select name="src_domain">
					<% user.admin_domains.each do |id, d| %>
					<option value="<%= id %>"><%= d.name %></option>
					<% end %>
					</select>
					<br/>
					<p class="ieonly">Destination:</p>
					<input class="txt" type="text" name="dlh" placeholder="Destination"/> @ <select name="dst_domain">
	<% user.admin_domains.each do |id, d| %>
						<option value="<%= id %>"><%= d.name %></option>
	<% end %>
					</select>
					<br/>
					<input type="submit" class="btn ok" value="Save"/>
				</form>
			</fieldset>
		<% end %>
		
		<% if user.super_admin %>
			<fieldset class="fl" id="add_domain">
				<legend>Add Domain</legend>
				<form method="post" action="<%= link_to '/user/domain/new' %>">
					<p class="ieonly">Name:</p>
					<input type="text" name="name" class="txt" placeholder="Name"/>
					<input type="submit" class="btn ok" value="Save"/>
				</form>
			</fieldset>
		<% end %>
		
		<fieldset class="fl" id="chpass">
			<legend>Change Password</legend>
			<form method="post" action="<%= link_to '/user/password' %>">
				<p class="ieonly">Password:</p>
				<input type="password" name="password" class="txt" placeholder="Password"/>
				<p class="ieonly">Confirm:</p>
				<input type="password" name="confirmation" class="txt" placeholder="Confirm"/>
				<br/>
				<input type="submit" class="btn ok" value="Save"/>
			</form>
		</fieldset>
		
	</div>
</div>
