<div id="user_outer">
	<div id="welcome">
		<p class="status">Logged in as <%= user.email %> [<a href="<%= link_to '/user/logout' %>">Log out</a>]</p>
		<% if flash %>
			<p class="error"><%= flash %></p>
		<% end %>
		<h4>Managing domain <%= domain.name %> [<a href="<%= link_to '/user/dashboard' %>">Back</a>]</h4>
		<div class="clear">
			<h4>Users</h4>
<% if users && users.length > 0 %>
			<ul>
<% users.each do |u| %>
				<li>
					<form method="post" 
						action="<%= link_to("/user/email/#{u.id}/delete") %>"
						onsubmit="return confirm('Are you sure?');">
						<input type="image" src="/images/email_delete.png" alt="Delete" title="Delete"/>
					</form>
					<a href="<%= link_to("/user/email/#{u.id}") %>">
						<img src="/images/email_edit.png" alt="Edit" title="Edit"/>
					</a>
					<%= u.email %>
					<% if u.admin_domains.include? domain.id %>
						<img src="/images/bullet_star.png" alt="Admin" title="Admin"/>
					<% end %>
				</li>
<% end %>
			</ul>
<% else %>
			<em>No users found</em>
<% end %>
		</div>
		<div class="clear">
			<h4>Aliases</h4>
<% if aliases && aliases.length > 0 %>
			<ul>
<% aliases.each do |a| %>
				<li>
					<form method="post" 
						action="<%= link_to("/user/alias/#{a.id}/delete") %>"
						onsubmit="return confirm('Are you sure?');">
						<input type="image" src="/images/email_delete.png" alt="Delete" title="Delete"/>
					</form>
					<a href="<%= link_to("/user/alias/#{a.id}") %>">
						<img src="/images/email_edit.png" alt="Edit" title="Edit"/>
					</a>
					<%= a.source %> &rarr; <%= a.destination %>
				</li>
<% end %>
			</ul>
<% else %>
			<em>No aliases found</em>
<% end %>
		</div>
	</div>
</div>
