<div id="user_outer">
	<div id="welcome">
		<p class="status">Logged in as <%= user.email %> [<a href="<%= link_to 'user/logout' %>">Log out</a>]</p>
		<% if flash %>
			<p class="error"><%= flash %></p>
		<% end %>
		<ul class="breadcrumb">
			<li>
				<a href="<%= link_to 'user/dashboard' %>"><img src="<%= link_to 'images/house.png' %>" alt="Home"/></a>
			</li>
			<li><%= domain.name %></li>
		</ul>
		<div class="clear">
			<h4>Users</h4>
<% if users && users.length > 0 %>
			<ul>
<% users.each do |u| %>
				<li>
					<form method="post" 
						action="<%= link_to "user/email/#{u.id}/delete" %>"
						onsubmit="return confirm('Are you sure?');">
						<input type="image" src="<%= link_to 'images/email_delete.png' %>" alt="Delete" title="Delete"/>
					</form>
					<a href="<%= link_to "user/email/#{u.id}"  %>">
						<img src="<%= link_to 'images/email_edit.png' %>" alt="Edit" title="Edit"/>
					</a>
					<%= u.email %>
					<% if u.admin_domains.include? domain.id %>
						<img src="<%= link_to 'images/bullet_star.png' %>" alt="Admin" title="Admin"/>
					<% end %>
				</li>
<% end %>
			</ul>
<% else %>
			<em>No users found</em>
<% end %>
		</div>
		<div class="clear">
			<h4>Aliases</h4>
<% if aliases && aliases.length > 0 %>
			<ul>
<% aliases.each do |a| %>
				<li>
					<form method="post" 
						action="<%= link_to "user/alias/#{a.id}/delete" %>"
						onsubmit="return confirm('Are you sure?');">
						<input type="image" src="<%= link_to 'images/email_delete.png' %>" alt="Delete" title="Delete"/>
					</form>
					<%= a.source %> &rarr; <%= a.destination %>
				</li>
<% end %>
			</ul>
<% else %>
			<em>No aliases found</em>
<% end %>
		</div>
<% if user.super_admin %>
		<form method="post" action="<%= link_to "user/domain/#{domain.id}/delete" %>"
			onsubmit="return confirm('Are you certain you would like to delete this domain and all associated users, aliases and admins?\n\nThis cannot be undone.');">
			<input type="submit" class="btn del" value="Delete domain"/>
		</form>
<% end %>
	</div>
</div>
